name: ECS Terraform CI/CD Pipeline

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

env:
  AWS_REGION: us-east-1
  ACCOUNT_ID: 396341923314
  ECR_REPOSITORY: java-ecs-app
  TERRAFORM_VERSION: 1.5.0

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      pull-requests: write

    steps:

    # -----------------------------------
    # Checkout Terraform Repo
    # -----------------------------------
    - name: Checkout Repository
      uses: actions/checkout@v4

    # -----------------------------------
    # Clone 2048 Game Source Code
    # -----------------------------------
    - name: Clone 2048 Game Repository
      run: |
        git clone https://github.com/BasimAhmedKhan/2048-Game.git ./2048-app

    # -----------------------------------
    # Create Dockerfile Automatically
    # -----------------------------------
    - name: Create Dockerfile
      run: |
        cat <<EOF > ./2048-app/Dockerfile
        FROM nginx:alpine
        COPY . /usr/share/nginx/html
        EXPOSE 80
        EOF

    # -----------------------------------
    # Configure AWS Credentials
    # -----------------------------------
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v4
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}

    # -----------------------------------
    # Login to Amazon ECR
    # -----------------------------------
    - name: Login to Amazon ECR
      run: |
        aws ecr get-login-password --region $AWS_REGION | \
        docker login --username AWS --password-stdin \
        $ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com

<<<<<<< HEAD
    # -----------------------------------
    # Build Docker Image
    # -----------------------------------
    - name: Build Docker Image
      run: |
        docker build -t $ECR_REPOSITORY ./2048-app

    # -----------------------------------
    # Tag Docker Image
    # -----------------------------------
    - name: Tag Docker Image
      run: |
        docker tag $ECR_REPOSITORY:latest \
        $ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY:latest
=======
      - name: Terraform Validate
        run: terraform validate
    # SonarQube Scan
    # -------------------------------
    
      - name: SonarQube Scan
        uses: SonarSource/sonarcloud-github-action@master
        with:
          args: >
            -Dsonar.projectKey=ecs-terraform
            -Dsonar.sources=.
            -Dsonar.host.url=${{ secrets.SONAR_HOST }}
            -Dsonar.login=${{ secrets.SONAR_TOKEN }}
     
      - name: Terraform Plan
        id: plan
        run: terraform plan -input=false -lock=false -var-file=terraform.tfvars -out=tfplan
        continue-on-error: true
>>>>>>> a6a3020 (Added SonarQube configuration)

    # -----------------------------------
    # Push Image to ECR
    # -----------------------------------
    - name: Push Docker Image
      run: |
        docker push \
        $ACCOUNT_ID.dkr.ecr.$AWS_REGION.amazonaws.com/$ECR_REPOSITORY:latest

    # -----------------------------------
    # Setup Terraform
    # -----------------------------------
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v3
      with:
        terraform_version: ${{ env.TERRAFORM_VERSION }}

    # -----------------------------------
    # Terraform Init
    # -----------------------------------
    - name: Terraform Init
      run: terraform init

    # -----------------------------------
    # Terraform Validate
    # -----------------------------------
    - name: Terraform Validate
      run: terraform validate

    # -----------------------------------
    # Terraform Plan
    # -----------------------------------
    - name: Terraform Plan
      run: terraform plan -var-file=terraform.tfvars -out=tfplan

    # -----------------------------------
    # Terraform Apply (only on main push)
    # -----------------------------------
    - name: Terraform Apply
      if: github.event_name == 'push' && github.ref == 'refs/heads/main'
      run: terraform apply -auto-approve tfplan
